@font-face {
    font-family: "TT Squares Regular";
    src: url("/font/TT\ Squares\ Regular.otf") format("opentype");
}

pre,
h1,
.nav-links a {
    margin: 0;
    /* Remove margin from pre, h1, and .nav-links a */
}

pre {
    font-family: "TT Squares Regular", monospace;
    font-size: 100px;
    display: flex;
    align-items: center;
    color: antiquewhite;
}

@font-face {
    font-family: "Minercraftory";
    src: url("/font/Minercraftory.ttf") format("truetype");
}

h1 {
    font-family: "Minercraftory", monospace;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: rgb(245, 21, 114);
    padding-top: 120px;
}

body {
    background-color: rgb(13, 11, 45);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* Adjust the background size as needed */
    background-position: center;
    /* Center the background image */
    background-attachment: fixed;
}

nav {
    background-color: rgb(17, 65, 133);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Add padding to nav instead of margin */
}

/* Style the logo image */
nav img {
    width: 90px;
    height: 90px;
}

/* Style the navigation links container */
.nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

/* Style the navigation links */
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Minercraftory", monospace;
    margin-right: 20px;
}

/* Style the navigation links on hover */
.nav-links a:hover {
    color: rgb(13, 11, 45);
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: antiquewhite;
    margin-bottom: 500px;
}

/* Style the <pre> element */
.center-container pre {
    font-family: "TT Squares Regular", monospace;
    font-size: 80px;
    margin-bottom: 0;
    /* Remove margin from pre */
    color: antiquewhite;
}

/* Style the button */
#button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(245, 21, 114);
    color: white;
    font-family: "Minercraftory", monospace;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Add a hover effect for the button */
#button:hover {
    background-color: rgb(60, 110, 179);
    transform: scale(1.05);
}