body {
    background-color: rgb(13, 11, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
@font-face {
    font-family: "Minercraftory";
    src: url("/font/Minercraftory.ttf") format("truetype");
}

h1 {
    font-family: "Minercraftory", monospace;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: rgb(60, 110, 179);
}