body {
    background-color: rgb(13, 11, 45);
}

@font-face {
    font-family: "TT Squares Regular";
    src: url("/font/TT\ Squares\ Regular.otf") format("opentype");
}

pre,
h3,
h1 {
    font-family: "TT Squares Regular", monospace;
    text-align: center;
    color: antiquewhite;
}

h3 {
    color: rgb(245, 21, 114);
}

h1 {
    font-size: 5vw
}

.review-block {
    text-align: center;
    color: antiquewhite;
    display: inline-block;
    /* Display as inline-block to place them side by side */
    vertical-align: top;
    /* Align to the top of the container */
    width: 30%;
    /* Adjust the width as needed */
    margin: 10px;
    /* Add margin for spacing between sections */
    font-size: 2vw;
}