 body {
     background-color: rgb(13, 11, 45);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     margin: 0;
 }

@font-face {
    font-family: "TT Squares Regular";
    src: url("/font/TT\ Squares\ Regular.otf") format("opentype");
}

 h1 {
     font-family: "TT Squares Regular", monospace;
     text-align: center;
     color: rgb(245, 21, 114);
     margin-bottom: 20px;
 }

 pre {
     color: antiquewhite;
     text-align: center;
     white-space: pre-line;
     /* Preserve line breaks in <pre> tag */
     margin-bottom: 100px;
     font-size: 20px;

 }

 .image-container {
     margin-top: 20px;
     display: flex;
     justify-content: space-between;
     /* Spread images apart horizontally */
 }

 .rounded-img {
     border-radius: 50%;
     width: 150px;
     height: 150px;
     object-fit: cover;
     /* Add margin for spacing between images */
 }

 .image-details {
     text-align: center;
     margin-top: 10px;
     margin-right: 100px;
 }

 .image-details p {
     color: antiquewhite;
     margin: 5px 0;
     font-weight: bolder;
 }

 .name {
     color: pink;
 }