  @font-face {
      font-family: "TT Squares Regular";
      src: url("TT%20Squares%20Regular.otf") format("opentype");
  }

  pre {
      font-family: "TT Squares Regular", monospace;
      font-size: 100px;
      display: flex;
      align-items: center;
      color: antiquewhite;
  }

  @font-face {
      font-family: "Minercraftory";
      src: url("Minercraftory.ttf") format("truetype");
  }

  h1 {
      font-family: "Minercraftory", monospace;
      font-size: 25px;
      display: flex;
      align-items: center;
      color: rgb(60, 110, 179);
  }

  body {
      background-color: rgb(13, 11, 45);
  }